$white: #ffffff;
$black: #272727;
$header-background: #e5e5e5;
$green: #00b007;
$blue: #0055bb;
$yellow: #ffd600;
$light-yellow: #ffe040;
$blue-light: rgb(4, 56, 99);
$hover: rgb(59, 141, 207);
$brown: #4d4d4d;
$blue-b: #0a60c3;
$grey: rgba(0, 0, 0, 0.25);
$blue-btn: #1d6ecb;
$b: #000000;
